In [0]:
%tensorflow_version 2.x
import tensorflow as tf

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import re
import nltk

from collections import OrderedDict
from operator import itemgetter

In [0]:
df = pd.read_csv('/content/drive/My Drive/Accidental_Drug_Related_Deaths_2012-2018.csv')

In [195]:
df.head()

        ID  ...                InjuryCityGeo
0  14-0273  ...  CT\n(41.575155, -72.738288)
1  13-0102  ...  CT\n(41.575155, -72.738288)
2  16-0165  ...                          NaN
3  16-0208  ...                          NaN
4  13-0052  ...  CT\n(41.575155, -72.738288)

[5 rows x 41 columns]

The above table has a generic index, so we should set it to something more suitable if possible. The first column corresponds to ID, and we can readily check these values are unique using the `is_unique` method.

In [196]:
df['ID'].is_unique

True

In [0]:
# Set index to the ID column
df = df.set_index('ID')

In [198]:
df.head()

                           Date  ...                InjuryCityGeo
ID                               ...
14-0273  06/28/2014 12:00:00 AM  ...  CT\n(41.575155, -72.738288)
13-0102  03/21/2013 12:00:00 AM  ...  CT\n(41.575155, -72.738288)
16-0165  03/13/2016 12:00:00 AM  ...                          NaN
16-0208  03/31/2016 12:00:00 AM  ...                          NaN
13-0052  02/13/2013 12:00:00 AM  ...  CT\n(41.575155, -72.738288)

[5 rows x 40 columns]

We obviously do not need all the columns - as some contain less useful information such as the geo locations. Let us drop some of these columns.

In [0]:
cols_to_drop = ['DateType', 'ResidenceCity', 'ResidenceCounty', 
                'ResidenceState', 'LocationifOther', 'DescriptionofInjury', 
                'InjuryPlace', 'InjuryCity', 'InjuryCounty', 'InjuryState',
                'OtherSignifican', 'DeathCityGeo', 'ResidenceCityGeo', 
                'InjuryCityGeo']

In [0]:
df.drop(cols_to_drop, inplace=True, axis=1)

In [201]:
df.head()

                           Date   Age     Sex  ... OpiateNOS AnyOpioid MannerofDeath
ID                                             ...
14-0273  06/28/2014 12:00:00 AM   NaN     NaN  ...       NaN       NaN      Accident
13-0102  03/21/2013 12:00:00 AM  48.0    Male  ...       NaN       NaN      Accident
16-0165  03/13/2016 12:00:00 AM  30.0  Female  ...       NaN         Y      Accident
16-0208  03/31/2016 12:00:00 AM  23.0    Male  ...       NaN         Y      Accident
13-0052  02/13/2013 12:00:00 AM  22.0    Male  ...       NaN       NaN      Accident

[5 rows x 26 columns]

We can now neaten up our headers by renaming some of the poorly titled columns.

In [0]:
df.rename(columns = {'DeathCity':'City of Death', 
                     'DeathCounty':'County of Death',
                     'FentanylAnalogue':'Fentanyl Analogue',
                     'Morphine_NotHeroin':'Morphine',
                     'Amphet':'Amphetamine',
                     'Tramad':'Tramadol',
                     'AnyOpioid':'Any Opioid'},
           inplace = True)

The `Date` column contains a complete timestamp but we are only interested in the date of death, not the time, we can use a regular expression to extract the date.

In [0]:
df['Date'] = df['Date'].str.extract(r'([0-9]{2}\/[0-9]{2}\/[0-9]{4})', expand=False)

Similarily the `Race` column contains elements which list more than one race, such as `Asian, Other`. We are only interested in the primary race, so we again use a regex to extract the first listed race.

In [0]:
df['Race'] = df['Race'].str.extract(r'([a-zA-Z]+),*', expand=False)

In [205]:
df.head(5)

               Date   Age     Sex  ... OpiateNOS Any Opioid MannerofDeath
ID                                 ...
14-0273  06/28/2014   NaN     NaN  ...       NaN        NaN      Accident
13-0102  03/21/2013  48.0    Male  ...       NaN        NaN      Accident
16-0165  03/13/2016  30.0  Female  ...       NaN          Y      Accident
16-0208  03/31/2016  23.0    Male  ...       NaN          Y      Accident
13-0052  02/13/2013  22.0    Male  ...       NaN        NaN      Accident

[5 rows x 26 columns]

The columns containing the drugs in the deceased's blood have `NaN` if the drug was not present and `Y` if it was. Let us change this to a binary encoding using the `applymap` method and a lambda function to cast the values to 0 and 1.

We could do this by manually typing (or copying) all the column names, but that would be a little tedious. We could instead store all the column names into a list and use list comprehensions.

In [0]:
cols = list(df.columns)

In [207]:
cols

['Date',
 'Age',
 'Sex',
 'Race',
 'City of Death',
 'County of Death',
 'Location',
 'COD',
 'Heroin',
 'Cocaine',
 'Fentanyl',
 'Fentanyl Analogue',
 'Oxycodone',
 'Oxymorphone',
 'Ethanol',
 'Hydrocodone',
 'Benzodiazepine',
 'Methadone',
 'Amphetamine',
 'Tramadol',
 'Morphine',
 'Hydromorphone',
 'Other',
 'OpiateNOS',
 'Any Opioid',
 'MannerofDeath']

In [0]:
drug_cols = [cols[i] for i in range(cols.index('Heroin'),
                                    cols.index('Any Opioid') + 1)]

In [209]:
drug_cols

['Heroin',
 'Cocaine',
 'Fentanyl',
 'Fentanyl Analogue',
 'Oxycodone',
 'Oxymorphone',
 'Ethanol',
 'Hydrocodone',
 'Benzodiazepine',
 'Methadone',
 'Amphetamine',
 'Tramadol',
 'Morphine',
 'Hydromorphone',
 'Other',
 'OpiateNOS',
 'Any Opioid']

In [0]:
df[drug_cols] = df[drug_cols].applymap(lambda x: 1 if x=='Y' else 0)

In [211]:
df.head()

               Date   Age     Sex  ... OpiateNOS Any Opioid MannerofDeath
ID                                 ...
14-0273  06/28/2014   NaN     NaN  ...         0          0      Accident
13-0102  03/21/2013  48.0    Male  ...         0          0      Accident
16-0165  03/13/2016  30.0  Female  ...         0          1      Accident
16-0208  03/31/2016  23.0    Male  ...         0          1      Accident
13-0052  02/13/2013  22.0    Male  ...         0          0      Accident

[5 rows x 26 columns]

The data is looking much cleaner, but we still need to make sure we don't have any suprising values within the fields. This can be done by printing out all unique values for the columns with the `unique()` method.

In [212]:
df['Date'].unique()

array(['06/28/2014', '03/21/2013', '03/13/2016', ..., '12/26/2016',
       '12/02/2017', '09/15/2016'], dtype=object)

In [213]:
df['Age'].unique()

array([nan, 48., 30., 23., 22., 21., 40., 50., 26., 49., 29., 45., 42.,
       54., 32., 47., 39., 27., 34., 25., 51., 35., 43., 55., 56., 28.,
       67., 36., 52., 61., 53., 41., 31., 57., 24., 37., 38., 58., 59.,
       46., 64., 60., 44., 33., 20., 19., 66., 63., 62., 65., 71., 73.,
       68., 69., 75., 72., 18., 15., 70., 17., 74., 84., 14., 87., 81.,
       16.])

In [214]:
df['Race'].unique()

array([nan, 'Black', 'White', 'Asian', 'Hispanic', 'Unknown', 'Other',
       'Chinese', 'Native', 'Hawaiian'], dtype=object)

In [215]:
df['Sex'].unique()

array([nan, 'Male', 'Female', 'Unknown'], dtype=object)

In [216]:
df['City of Death'].unique()

array([nan, 'NORWALK', 'DANBURY', 'GREENWICH', 'BRISTOL', 'WEST HARTFORD',
       'NEW HAVEN', 'EAST HARTFORD', 'MONTVILLE', 'STRATFORD', 'HARTFORD',
       'WALLINGFORD', 'MIDDLETOWN', 'WINDHAM', 'BRIDGEPORT', 'DERBY',
       'COS COB', 'MERIDEN', 'ENFIELD', 'TORRINGTON', 'WATERBURY',
       'MASHANTUCKET', 'MILFORD', 'SOMERS', 'STAMFORD', 'NEW BRITAIN',
       'WILLIMANTIC', 'WATERTOWN', 'BALTIC', 'RIDGEFIELD', 'NEW LONDON',
       'BROOKFIELD', 'SHELTON', 'NORWICH', 'NAUGATUCK', 'VERNON',
       'FAIRFIELD', 'EAST HAMPTON', 'SHARON', 'MONROE', 'WINCHESTER',
       'BRANFORD', 'MANCHESTER', 'WOLCOTT', 'WEST SUFFIELD', 'FARMINGTON',
       'NORTH BRANFORD', 'NEW MILFORD', 'STONINGTON', 'PRESTON', 'GROTON',
       'SOUTHINGTON', 'SOUTH WINDSOR', 'JEWETT CITY', 'EAST WINDSOR',
       'OLD SAYBROOK', 'BROAD BROOK', 'PORTLAND', 'HEBRON', 'DARIEN',
       'LEDYARD', 'TRUMBULL', 'BURLINGTON', 'BLOOMFIELD', 'TERRYVILLE',
       'STAFFORD SPRINGS', 'WEST HAVEN', 'THOMPSON', 'OXFORD',
       'DANIELSON', 'POMFRET', 'MARLBOROUGH', 'OAKVILLE', 'NEWTOWN',
       'ROCKY HILL', 'EAST HAVEN', 'HAMDEN', 'AVON', 'SEYMOUR',
       'PLAINVILLE', 'COLCHESTER', 'SOUTHBURY', 'STAFFORD', 'ANSONIA',
       'MOOSUP', 'KILLINGLY', 'BEACON FALLS', 'CLINTON', 'OLD LYME',
       'SANDY HOOK', 'BROOKLYN', 'UNCASVILLE', 'WINDSOR', 'WOODBURY',
       'FRANKLIN', 'SALISBURY', 'WASHINGTON', 'BRIDGEWATER', 'BETHEL',
       'BANTAM', 'MYSTIC', 'WILTON', 'WINDSOR LOCKS', 'LEBANON',
       'GLASTONBURY', 'QUAKER HILL', 'WOODSTOCK', 'COVENTRY', 'COLUMBIA',
       'BERLIN', 'PUTNAM', 'SALEM', 'ESSEX', 'PLAINFIELD', 'WETHERSFIELD',
       'CANTON', 'DURHAM', 'CANTERBURY', 'SUFFIELD', 'SIMSBURY',
       'NORTH CANAAN', 'WATERFORD', 'KILLINGWORTH', 'CROMWELL',
       'WILLINGTON', 'MIDDLEFIELD', 'VOLUNTOWN', 'THOMASTON', 'NEWINGTON',
       'MORRIS', 'ASHFORD', 'DEEP RIVER', 'CENTRAL VILLAGE', 'EAST LYME',
       'MADISON', 'UNIONVILLE', 'WINSTED', 'HARWINTON', 'WOODBRIDGE',
       'WESTBROOK', 'BETHANY', 'NIANTIC', 'CHESHIRE', 'QUINEBAUG',
       'TOLLAND', 'MANSFIELD', 'WAUREGAN', 'PAWCATUCK', 'GRISWOLD',
       'STORRS', 'VERNON-ROCKVILLE', 'SHERMAN', 'LISBON', 'DAYVILLE',
       'EAST GRANBY', 'REDDING', 'GALES FERRY', 'PLYMOUTH', 'NORTH HAVEN',
       'N HAVEN', 'ELLINGTON', 'MIDDLEBURY', 'CORNWALL BRIDGE', 'HANOVER',
       'STERLING', 'NORTH GROSVENORDALE', 'NEW HARTFORD', 'BOLTON',
       'HAMPTON', 'BETHLEHEM', 'TARIFFVILLE', 'PROSPECT', 'GUILFORD',
       'NEW FAIRFIELD', 'NORTH WINDAM', 'OAKDALE', 'EASTON',
       'EAST HADDAM', 'GROTON LONG POINT', 'BARKHAMSTED', 'HIGGANUM',
       'NO HAVEN', 'TAFTVILLE', 'STAFFORD SPGS', 'IVORYTON', 'LITCHFIELD',
       'PLANTSVILLE', 'ORANGE', 'CHAPLIN', 'NORTH STONINGTON', 'SPRAGUE',
       'ANDOVER', 'EAST HARTLAND', 'CHESTER', 'WESTPORT', 'W HAVEN',
       'WESTON', 'ROCKVILLE', 'MOODUS', 'NORTH GRANBY', 'EAST CANAAN',
       'NORTHFORD', 'GRANBY', 'NEW CANAAN', 'WEST STAFFORD', 'ONECO',
       'NEW PRESTON', 'WEATOGUE', 'WARREN', 'HADDAM', 'EASTFORD', 'KENT',
       'BOZRAH', 'S GLASTONBURY', 'NORTH WINDHAM', 'BAKERSVILLE',
       'AMSTON', 'GOSHEN', 'NEW CANNAN', 'EAST WOODSTOCK', 'ROGERS',
       '06340', 'NORFOLK'], dtype=object)

In [217]:
df['County of Death'].unique()

array([nan, 'FAIRFIELD', 'HARTFORD', 'NEW HAVEN', 'NEW LONDON',
       'LITCHFIELD', 'MIDDLESEX', 'WINDHAM', 'TOLLAND', 'USA'],
      dtype=object)

In [218]:
df['Location'].unique()

array([nan, 'Hospital', 'Residence', 'Other', 'Nursing Home',
       'Convalescent Home', 'Hospice'], dtype=object)

In [219]:
df['MannerofDeath'].unique()

array(['Accident', 'accident', nan, 'Pending', 'ACCIDENT', 'Natural'],
      dtype=object)

We can see some columns contain a category for 'Unknown', but some entries are `NaN`, let us cast these `NaN` values to Unknown so we may better represent the data.

In [0]:
def clear_nan(item):
  if pd.isna(item):
    return 'Unknown'
  else:
    return item

In [0]:
nan_cols = [cols[i] for i in range(cols.index('Age'), 
                                   cols.index('Location') + 1)]

nan_cols.append('MannerofDeath')

In [0]:
df[nan_cols] = df[nan_cols].applymap(clear_nan)

In [223]:
df.head()

               Date      Age      Sex  ... OpiateNOS Any Opioid MannerofDeath
ID                                     ...
14-0273  06/28/2014  Unknown  Unknown  ...         0          0      Accident
13-0102  03/21/2013       48     Male  ...         0          0      Accident
16-0165  03/13/2016       30   Female  ...         0          1      Accident
16-0208  03/31/2016       23     Male  ...         0          1      Accident
13-0052  02/13/2013       22     Male  ...         0          0      Accident

[5 rows x 26 columns]

Those all caps strings in `City of Death` and `County of Death` don't look so great, let us format them appropriately. The string method `title()` formats a string such that its first character is upper case and the rest are lowercase. This will also sort out the duplicate forms of `Accident` in the `MannerofDeath` column.

In [0]:
df[['City of Death', 
    'County of Death',
    'MannerofDeath']] = df[['City of Death',
                            'County of Death',
                            'MannerofDeath']].applymap(lambda x: x.title())

In [225]:
df.head()

               Date      Age      Sex  ... OpiateNOS Any Opioid MannerofDeath
ID                                     ...
14-0273  06/28/2014  Unknown  Unknown  ...         0          0      Accident
13-0102  03/21/2013       48     Male  ...         0          0      Accident
16-0165  03/13/2016       30   Female  ...         0          1      Accident
16-0208  03/31/2016       23     Male  ...         0          1      Accident
13-0052  02/13/2013       22     Male  ...         0          0      Accident

[5 rows x 26 columns]

In [226]:
df['MannerofDeath'].unique()

array(['Accident', 'Unknown', 'Pending', 'Natural'], dtype=object)

`Pending` implies we do not know the current manner of death, let us cast these values to `Unknown`.

In [0]:
df['MannerofDeath'] = df['MannerofDeath'].map(lambda x: 'Unknown' if x == 'Pending' else x)

In [228]:
df['MannerofDeath'].unique()

array(['Accident', 'Unknown', 'Natural'], dtype=object)

Finally, let us check if any of the Date columns contain `NaN` values and remove those rows. This can be done easily by taking the rows from the dateframe where `Date` is not `NaN`.

In [229]:
df['Date'].isna().sum()

2

In [0]:
# New dataframe containing only rows where 'Date' is not NaN
df = df[df['Date'].notna()]

In [231]:
df['Date'].isna().sum()

0

In [232]:
df.head()

               Date      Age      Sex  ... OpiateNOS Any Opioid MannerofDeath
ID                                     ...
14-0273  06/28/2014  Unknown  Unknown  ...         0          0      Accident
13-0102  03/21/2013       48     Male  ...         0          0      Accident
16-0165  03/13/2016       30   Female  ...         0          1      Accident
16-0208  03/31/2016       23     Male  ...         0          1      Accident
13-0052  02/13/2013       22     Male  ...         0          0      Accident

[5 rows x 26 columns]

We now explore the cause of death column, `COD`. We begin by iterating through the data, removing punctuation, lowering the string and splitting it into word tokens. We then store this as a dictionary containing each word and its frequency.

In [0]:
store = {}

for cod in df['COD']:

  tokens = re.sub('[^\w\s]','', cod).lower().split(' ')
  for word in tokens:
    if word in store:
      store[word] += 1
    else:
      store[word]=1

We are interested in looking at the most frequent words to determine the types of causes of death. Naturally, words like 'a', 'the' etc. are not useful, we use the stopwords from `NLTK` to filter them out.

In [237]:
# Download stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

We now sort the dictionary by frequency using an `OrderedDict` and store the word/frequency pairs as a list of tuples, filtering out stopwords in the process.

In [0]:
freq_word = OrderedDict(sorted(store.items(), key=itemgetter(1)))

In [0]:
freq_word_list = [(k,v) for k,v in freq_word.items() if not k in nltk.corpus.stopwords.words() and k!='']

Let us have a look at the top 30 words.

In [240]:
[freq_word_list[-i] for i in range(1,31)]

[('acute', 3408),
 ('intoxication', 3321),
 ('fentanyl', 2560),
 ('combined', 2360),
 ('heroin', 2265),
 ('effects', 2221),
 ('cocaine', 1436),
 ('due', 1376),
 ('toxicity', 938),
 ('ethanol', 694),
 ('alprazolam', 546),
 ('oxycodone', 525),
 ('alcohol', 513),
 ('methadone', 451),
 ('toxicities', 419),
 ('clonazepam', 366),
 ('acetyl', 328),
 ('diazepam', 235),
 ('morphine', 229),
 ('use', 220),
 ('complications', 186),
 ('diphenhydramine', 176),
 ('including', 172),
 ('multidrug', 160),
 ('multiple', 143),
 ('hydroxyzine', 128),
 ('tramadol', 125),
 ('amphetamine', 97),
 ('lorazepam', 96),
 ('hydrocodone', 91)]

From the above we see the top 2 frequent words is 'acute' and 'intoxication', this corresponds to death by acute intoxication (took too much at once and died quickly) vs intoxication (took too much for too long and died over an extended period). Looking at the other rest of the list we see words which would form the death by intoxication sentence, such as 'use', 'effects', 'due' and actual drugs the intoxication can be attributed to, such as 'heroin', 'cocaine ... Eg. in the sentence 'Acute intoxication due to the use of Heroin'.

This suggests the only possible causes of death in this dataset is either 'Intoxication' or 'Acute intoxication', to be sure of this, let us look at the strings which do not contain these words.

In [250]:
for cod in df['COD']:
  tokens = re.sub('[^\w\s]','', cod).lower().split(' ')
  if all(x not in tokens for x in ['acute', 'intoxication','toxicities','toxicity']):
    print(cod)

ethanol, clonazepam
Combined Effects of Clonazepam and Fentanyl
Ethanol, Fentanyl, and Heroin
The Combined Effects of Fentanyl and Oxycodone
The Combined Effects of Heroin and Alcohol
Combined Effects of Cocaine, Fentanyl, and Heroin
The Combined Effects of Heroin, Fentanyl, and Ethanol
Intraparenchymal Pontine Hemorrhage/Acute Cocaine
OXYMORPH DIAZEPAM
Fentanyl and Heroin
Acetyl Fentanyl, Fentanyl, and Heroin
Fentanyl, Heroin, and Oxycodone
The Combined Effects of Heroin, Diazepam and Alcohol
Ethanol, Furanyl Fentanyl, and Para-Fluorobutyryl Fentanyl
Ethanol and Heroin
Acetyl Fentanyl and Fentanyl
Intracerebellar HemorrhageHypertensive Cardiovascular Disease
Combined Effects of Lorazepam, Clonazepam, Tramadol, Verapamil, Cyclobenzaprine, and Amphetamine
Combined Effects of Ethanol, Furanyl Fentanyl, Cocaine, Amitriptyline, and Morphine
the combined effects of Fentanyl, Heroin, Oxycodone and Diazepam
intox
Combined Effects of Ethanol and Heroin
Chronic Obstructive Pulmonary Disease with Cardiac Hypertrophy
Combined Effects of Ethanol, Alprazolam, Heroin, and Oxymorphone
Liver Failure due to cirrhosis due to chronic hepatitis C (OSC Heroin)
Coronary Artery ThrombusAtherosclerotic and Hypertensive Cardiovascular Disease
Ethanol, Heroin, and Lorazepam
Combined Effects of Fentanyl and Heroin
Heroin, Methadone, Alprazolam and Topiramate
Fentanyl and Heroin
Oxycodone, chlordia
Heroin, cocaine
Combined Effects of Ethanol, Diazepam, Oxazepam, Temazepam, Cocaine, Venlafaxine, Amitriptyline, and Heroin
Fentanyl and Heroin
Combined Effects of Fentanyl and Heroin
Diphenhydramine, Ethanol, Hydrocodone, Nordiazepam, and Zolpidem
Multidrug Toxcity Including Heroin, Fentanyl, Hydrocodone, N-Ethyl Pentylone, and Topiramate
Combined Effects of Ethanol, Diazepam, Oxazepam, Temazepam, Chlordiazepoxide, Lorazepam, Alprazolam, Fentanyl, and Heroin
Intoxicaion due to the Combined Effects of Heroin, Fentanyl and Alprazolam
Combined Effects of Cocaine, Methadone, Amitriptyline, Citalopram / Escitalopram, and Trazodone
Ethanol and Fentanyl
Combined Effects of Morphine, Diazapem, Oxazepam, Temazepam, Bupropion, Clomipramine and Duloxetime
The Combined Effects of Cocaine, Acetyl Fentanyl, Morphine and Oxycodone
fen her
Heroin, ethanol, oxycod
FENTANYL, ACETYL FENTANYL, METHADONE, COCAINE, QUETIAPINE, AND DIPHENHYDRAMINE
Ethanol, Fentanyl, and Heroin
HEROIN AND CLONAZEPAM
Hypothermia/morphine
Combined Effects of Clonazepam, Cocaine, Citalopram/Escitalopram, Fentanyl, and Heroin
METHADONE
Fentanyl and Heroin
Hypertensive and Atherosclerotic Cardiovascular Disease
Diabetic Ketoacidosis due to Diabetes Mellitus
The Combined Effects of Ethanol, Cocaine and Oxycodone
Fentanyl and Hydroxyzine
Combined Effects of Ethanol, Fentanyl, and Oxycodone
Cocaine and Opiates
Massive Pontine Hemorrhage/cocaine
Combined Effects of Cocaine, Fentanyl, and Heroin
Ethanol, heroin, benzo
Ethanol, Etizolam, and Heroin
oxy benzo intox
The Combined Effects of Heroin, Alprazolam and Cocaine
The Combined Effects of Cocaine and Fentanyl
Cocaine, Ethanol, and Fentanyl
Combined Effects of Cocaine, Methadone, and Hydroxyzine
FENTANYL, HEROIN, QUETIAPINE, AND ETHANOL
Fentanyl, Alprazolam, And Hydroxyzine
intox
FENTANYL, HEROIN, DIPHENHYDRAMINE, ZOLPIDEM, and alprazolam
Combined Effects of Bupropion and Fentanyl
Cocaine
Combined Effects of Ethanol, Butalbital, Tramadol, and Mirtazapine
Hypertensive and Atherosclerotic Cardiovascular Disease
Amphet
Combined Effects of Ethanol, Cocaine, and Methadone
methadone
Combined Adverse Effects of Fentanyl, Heroin, Phencyclidine and Cocaine
GHB, clonazepam
Atherosclerotic Cardiovascular Disease Complicating Obesity
The Combined Effects of Diazepam, Methadone, Venlafaxine, Heroin and Hydromorphone
Combined Effects of Fentanyl, Furanyl Fentanyl, Diazepam, and Citalopram / Escitalopram
Fentanyl and Heroin
The Combined Effects of Fentanyl, Clonazepam and Diphenhydramine
Combined Effects of Diazepam, Oxazepam, Temazepam, Olanzapine, Tramadol, and Heroin
Anoxic Brain Injury due to the combined effects of Diazepam, Oxazepam, Fentanyl, Oxycodone, and Percocet
Fentanyl and Heroin
Acetyl Fentanyl, Cocaine, Ethanol, and Fentanyl
Ethanol and Fentanyl
Combined Effects of Fluoxetine and Heroin
Ethanol and Fentanyl
Fentanyl, Cocaine, and Ethanol
Oxycod, benzos
The Combined Effects of Clonazepam, Citalopram/Escitalopram and Heroin
Hypertensive Cardiovascular Disease
Fentanyl, Heroin, and Cocaine.
meth benzo
Fentanyl and Heroin
Combined Effects of Alprazolam, Fentanyl, and Heroin
Combined Effects of Ethanol and Oxycodone
Fentanyl and Heroin
Combined Effects of Cocaine, Fentanyl, Acetyl Fentanyl, and Heroin
Combined Effects of Cocaine and Fentanyl
Complications of Hypertensive and Atherosclerotic Cardiovascular Disease
Acryl Fentanyl, Cocaine, Fentanyl, Heroin, and U47700 (Synthetic Opioid)
Combined Effects of Cocaine, Diphenhydramine, Fentanyl, and Heroin
Ethanol, Fentanyl, Heroin, and Oxycodone
Cocaine induced Ruptured Cerebral Aneurysm COCAINE
Ethanol and Heroin
The Combined Effects of Heroin, Fentanyl and Methadone
Combined Effects of Citalopram/Escitalopram, Fentanyl, and Heroin
Heroin, Cocaine, And Ethanol
Combined Effects of Cocaine, Fentanyl, and Heroin
Benzodiazepines, Ethanol, and Heroin
comb effects heroin, clonazepam, alprazolam and ethanol
The Combined Effects of Buprenorphine and Doxylamine
Clinical History of Cocaine Use
Ethanol and Oxycodone
Alprazolam, Fentanyl, and Oxycodone
Fentanyl, Heroin, Olanzapine, and Citalopram
Metastatic Esophageal Carcinoma with Pleural Effusion
Fentanyl and Heroin
HEROIN, FENTANYL, BENZO, BE
Combined Effects of Clonazepam, Cocaine, Buprenorphine, Hydoxyzine, Dextro/Levo Methorphan, Fentanyl, and Heroin
Combined Effects of Ethanol, Fentanyl, and Morphine
Combined Effects of Clonazepam, Cocaine, Amitriptyline, Aripiprazole, and Heroin
Combined Effects of Sertraline, Fentanyl, and Pseudoephedrine
Fentanyl and Heroin
Inhalation of Dust Off
Ruptured cerebral artery aneurysm complicating cocaine use
cocaine/cv
The Combined Effects of Fentanyl and Heroin
Ethanol and Heroin
Combined Effects of Alprazolam, Heroin, and Hydrocodone
oxycod, morphine, benzo
heroin, fentanyl, benzo
Combined Effects of Lamotrigine, Quetiapine, Sertraline, and Topiramate
morphine, benzodiaz, trazadone, buprop
Combined Effects of Para-Fluorobutyryl Fentanyl/FIBF, Furanyl Fentanyl, Cocaine, Fentanyl, and Heroin
Heroin and Zolpidem
Ethanol and Fentanyl
Combined Effects of Ethanol and Heroin
FENTANYL, HEROIN, AND ETHANOL
Combined Effects of Furanyl Fentanyl and Alprazolam
Fentanyl and Oxycodone
Fentanyl and Heroin
Death Associated With Cocaine Use
Combined Effects of Fentanyl and Heroin
Fentanyl and Clonazepam Intoxiation
Alprazolam, Butalbital, Cyclobenzaprine, Dextromethorphan, Diphenhydramine, Doxylamine, Eszopiclone, Metaxalone, and Temazepam
Toxic Effects of para-Fluorobutyryl Fentanyl/FIBF
The Combined Effects of Fentanyl and Oxycodone
Diazepam, Oxazepam, Cocaine, Citalopram/Escitalopram, Fentanyl, Cyclobenzaprine, Codeine and Oxycodone
Acetyl Fentanyl, Fentanyl, and Heroin
intox
The Combined Effects of Fentanyl, Heroin and Hydromorphone
Acryl Fentanyl and Oxycodone, recent cocaine
Fentanyl
Fentanyl, Quetiapine, and Duloxetine.
Spontaneous Intracerebral Hemorrhage Associated with cocaine
Acetyl Fentanyl and Fentanyl
Combined Effects of Clonazepam, Trazodone, and Fentanyl
Combined Effects of Clonazepam, Cocaine, Quetiapine, and Fentanyl
Fentanyl, Heroin, And Clonazepam
Combined Effects of Lorazepam, Methadone, Diltiazem, and Fentanyl
methadone, oxycod benzo
Focal Atherosclerosis of Left Anterior Descending Coronary Artery with Combined Effects of Clonazepam, Citalopram, Methadone and Alcohol
Multple DrugToxicity
Fentanyl, Diazepam, and Citalopram
Hypertension, Recent Cocaine Use
Combined Effects of Diazepam, Cocaine, Fentanyl, and Heroin
Fentanyl Intoxicaton
Combined Effects of Cocaine, Phencyclidine, Fentanyl, and Oxycodone
Fentanyl and Heroin
Combined Effects of Butyryl Fentanyl, U-47700 (Synthetic Opioid), Clonazepam, Cocaine, Venlafaxine, Fentanyl, Oxycodone, and Heroin
Combined Effects of Ethanol and Methadone
Ethanol and Fentanyl
intox
Diphenhydramine, Fentanyl, and Heroin
The Combined Effects of Heroin, Cocaine and Alprazolam
Fentanyl, Heroin, and Clonazepam
Oxycodone and ethanol
Combined Effects of Ethanol, Lorazepam, and Oxycodone
The Combined Effects of Fentanyl, Heroin, Alprazolam and Clonazepam
Combined Effects of Cocaine and Fentanyl
Combined Effects of Ethanol, Cocaine, Doxylamine, Citalopram/Escitalopram, and Heroin
Intoxicatin due to the Combined Effects of Cocaine and Heroin
Atherosclerotic Cardiovascular Disease/cocaine
Hypertensive and Atherosclerotic Cardiovascular Disease
Combined Effects of Butyryl Fentanyl, Clonazepam, Bupropion, Fentanyl, Acetyl Fentanyl, and Heroin
Combined Effects of Alprazolam, Methadone, Quetiapine, and Citalopram/Escitalopram
Atherosclerotic Cardiovascular Disease/cocaine
The Combined Effects of Clonazepam, Cyclobenzaprine, Heroin and Furanyl Fentanyl
Combined Effects of Lorazepam, Citalopram/Escitalopram, and Oxycodone
Multiple DrugToxicity
Combined Methadone and Benzodiazapine Use
Combined Effects of Ethanol, Alprazolam, and Fentanyl
Combined Effects of Ethanol, Cocaine, Quetiapine, Fluoxetine, Fentanyl, and Heroin
her, coc, eth
Combined Effects of Clonazepam, Cocaine, Quetiapine, Trazodone, Clonidine, Hydroxyzine, Fentanyl, and Heroin
Multiple Drug Toxity
Ruptured Aortic Dissection with Hemopericardium hTN and athero (cocaine)
Aspiration Pneumonia due to Narcotic Use
Cocaine Intoxcicity
Acetyl Fentanyl, Despropionyl-Fentanyl, and Furanyl-Fentanyl
Ethanol, Fentanyl, and Heroin
The Combined Effects of Cocaine and Alcohol
Fentanyl Toxicity,Recent Cocaine Use
Combined Effects of Ethanol, Alprazolam, Venlafaxine, Mirtazapine, and Heroin
The Combined Effects of Heroin, Fentanyl and Alcohol
Combined Effects of Ethanol, Fentanyl and Oxycodone
Oxycodone
Combined Effects of Sertraline, Hydroxyzine, Fentanyl, and Hydromorphone
Ethanol, Furanyl Fentanyl, and Heroin
Multiple Drug Toxcity
Combined Effects of Ethanol, Clonazepam, Lamotrigine, Venlafaxine, Doxepin, Fentanyl, and Heroin
Multiple DrugToxicity
Combined Effects of Nordiazepam, Fentanyl, and Heroin
Diazepam, Clonazepam, Olanzapine, Sertraline, Fentanyl, Hydroxyzine, methadone, and oxycodone
Combined Effects of Opioids, Cocaine and Benzodiazepines
Hypertensive Cardiovascular Disease
Intoxicaton due to the Combined Effects of Ethanol and Heroin
Cocaine and Heroin
Chronic bronchitis and pulmonary emphysema
Combined Effects of Cocaine, Fentanyl, and Lorazepam
Fentanyl and Heroin and Chronic Substance Abuse
Combined Effects of Diazepam, Clonazepam, Cyclobenzaprine, and Fentanyl
Combined Effects of Methadone and Fentanyl
The Combined Effects of Fentanyl, Heroin, Cocaine, Methadone and Alcohol
The Combined Effects of Codeine, Morphine, Hydrocodone, Clonazepam, and Chlordiazepoxide
Ethanol, Fentanyl, and Heroin
Combined Effects of Fentanyl and Heroin
The Combined Effects of Bupropion, Fentanyl, and Morphine
Cocaine
intox
Asthma
Methadone, alprazolam
The Combined Effects of Fentanyl, Diphenhydramine, Cocaine and Heroin
Methadone, benzo
Multidrug Toxcity Including Heroin, Fentanyl, and Alprazolam
Combined Effects Of Fentanyl,Clonazepam, And Ethanol
Sudden Death Associated wtih History of Cocaine Use
Multidrug Toxicty Including Heroin, Fentanyl, Tramadol, and Alprazolam
Fentanyl and Heroin
Diabetic Ketoacidosis
RUPTURED CEREBRAL ANEURYSM ASSOCIATED WITH HYPERTENSION AND COCAINE USE
Ethanol, Fentanyl, and Heroin
Combined Effects of Cocaine, Fentanyl, and Heroin
Morbid Obesity and Excess use of Fentanyl
heroin, fentanyl
The Combined Effects of Fentanyl, Heroin and Cocaine
Combined Effects of Cocaine, Fluoxetine, Fentanyl, and Heroin
Combined Effects of Cocaine and Fentanyl
Combined Effects of Ethanol, Cocaine, and Fentanyl
Combined Effects of Cocaine, Topiramate, Venlafaxine, and Fentanyl
Combined Effects of Ethanol, Cocaine, Hydroxyzine, Fentanyl, and Acetyl Fentanyl
Benzodiazepine Overdose
The Combined Effects of Alcohol and Fentanyl
benzo
Fentanyl, Heroin, Hydromorphone, And Diazepam
Cocaine and Fentanyl
Ethanol and Fentanyl
Acryl Fentanyl, Fentanyl, and Heroin
Heroin Overdose
Combined Effects of Alprazolam, Fentanyl, and Heroin
Cocaine and Fentanyl
The Combined Effects of Cocaine and Heroin
Combined Effects of Diazepam, Cocaine, Fentanyl, Acetyl Fentanyl, Heroin, and Oxycodone

Looking through these quickly, we can see they are simply overdoses where it has not been specified as acute or not acute, as well as some really specific causes such as 'Diabetic Ketoacidosis'. To not make any assumptions, let us mark these non-specified deaths as such. At the same time we will map the other cells to the two classes 'Acute Intoxication' and 'Intoxication'. 

Note: some of the above causes have spelling errors for 'intoxication' in them, we could account for this, but they make up a small portion of the data so we will just cast them to 'Intoxication NOS'.

In [0]:
def extract_COD(item):

  tokens = re.sub(r'[^\w\s]','', item).lower().split(' ')
  if 'acute' in tokens:
    return 'Acute Intoxication'
  elif all(x not in tokens for x in ['acute', 'intoxication','toxicities','toxicity']):
    return "Intoxication NOS"
  else:
    return "Intoxication"

In [0]:
df['COD'] = df['COD'].map(extract_COD)

In [256]:
df.head()

               Date      Age      Sex  ... OpiateNOS Any Opioid MannerofDeath
ID                                     ...
14-0273  06/28/2014  Unknown  Unknown  ...         0          0      Accident
13-0102  03/21/2013       48     Male  ...         0          0      Accident
16-0165  03/13/2016       30   Female  ...         0          1      Accident
16-0208  03/31/2016       23     Male  ...         0          1      Accident
13-0052  02/13/2013       22     Male  ...         0          0      Accident

[5 rows x 26 columns]

In [257]:
df['COD'].unique()

array(['Acute Intoxication', 'Intoxication', 'Intoxication NOS'],
      dtype=object)

Our data is now looking much better, we save it for plotting visuals next.

In [0]:
df.to_csv(r'cleanAccDrugDeaths.csv', index=False, header=True)